
config\.h

config\.log

config\.status

Makefile

src/\.deps/sample_coach-main_coach\.Po

src/\.deps/sample_coach-sample_coach\.Po

src/\.deps/sample_player-bhv_basic_move\.Po

src/\.deps/sample_player-bhv_basic_offensive_kick\.Po

src/\.deps/sample_player-bhv_basic_tackle\.Po

src/\.deps/sample_player-bhv_custom_before_kick_off\.Po

src/\.deps/sample_player-bhv_goalie_basic_move\.Po

src/\.deps/sample_player-bhv_goalie_free_kick\.Po

src/\.deps/sample_player-bhv_penalty_kick\.Po

src/\.deps/sample_player-bhv_set_play\.Po

src/\.deps/sample_player-intention_receive\.Po

src/\.deps/sample_player-main_player\.Po

src/\.deps/sample_player-sample_communication\.Po

src/\.deps/sample_player-sample_player\.Po

src/\.deps/sample_trainer-main_trainer\.Po

src/\.deps/sample_trainer-sample_trainer\.Po

src/keepaway\.sh

src/start\.sh

src/train\.sh

stamp-h1

*.o

src/sample_coach

src/sample_player

src/sample_trainer

autom4te\.cache/output\.0

autom4te\.cache/output\.1

autom4te\.cache/requests

autom4te\.cache/traces\.0

autom4te\.cache/traces\.1

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/StarterAgent2D\.iml

\.idea/workspace\.xml

\.idea/vcs\.xml
